@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #111111;
    --foreground: #171717;
    font-family: "hk-grotesk-wide", sans-serif;
}

@font-face {
    font-family: "hk-grotesk-wide";
    src: url("/fonts/HKGroteskWide-Black.otf") format("otf"),
        url("/fonts/HKGroteskWide-Bold.otf") format("otf"),
        url("/fonts/HKGroteskWide-ExtraBold.otf") format("otf"),
        url("/fonts/HKGroteskWide-Light.otf") format("otf"),
        url("/fonts/HKGroteskWide-Medium.otf") format("otf"),
        url("/fonts/HKGroteskWide-Regular.otf") format("otf"),
        url("/fonts/HKGroteskWide-SemiBold.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "hk-grotesk-wide" !important;
}

.perspective-1000 {
    perspective: 1000px;
}

@keyframes rotate3D {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
